@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  font-family: "HyliaSerif";
  background: #967bb6;
}
@font-face{
  font-family: HyliaSerif;
  src: url("HyliaSerifBeta-Regular.otf") format("opentype")
}